<div class="mf">
  <div class="mf1">
    <img
      width="50"
      height="auto"
      loading="lazy"
      src="https://cdn.shopify.com/s/files/1/0256/3683/1318/files/image_1_Traced_f1df565c-73d6-4027-8ace-35598c8028ca_600x.png?v=1662720110"
    >
    <p>India</p>
    <span>Email:website@saralhome.com</span>
  </div>

  <div class="mf2">
    <a href="https://saralhome.com/pages/aboutus">About Us</a>
    <a href="https://saralhome.com/blogs/news">Blogs</a>
    <a href="https://saralhome.com/pages/contact-us">Contact Us</a>
    <a href="https://saralhome.com/pages/return-refund-policy">Return & Exchange</a>
    <a href="https://saralhome.com/pages/privacy-policy">Privacy & Policy</a>
    <a href="https://saralhome.com/pages/terms-and-condition">Terms & Condition</a>
  </div>
  <div class="mf4">
    <a href="https://saralhome.com/pages/aboutus">About Us</a>
    <a href="https://saralhome.com/blogs/news">Blogs</a>
    <a href="https://saralhome.com/pages/contact-us">Contact Us</a>
    <a href="https://saralhome.com/pages/return-refund-policy">Return & Exchange</a>
    <a href="https://saralhome.com/pages/privacy-policy">Privacy & Policy</a>
    <a href="https://saralhome.com/pages/terms-and-condition">Terms & Condition</a>
  </div>
  <div class="mf3">
    <a href="https://www.youtube.com/channel/UCiTmPFVgcilDZHSVabH8SdQ">{% include 'icon-social-youtube' %}</a>
    <a href="https://www.facebook.com/saralhome16/">{% include 'facebook-icon' %}</a>
    <a href="https://www.instagram.com/home_saral/">{% include 'instagram-icon' %}</a>
  </div>
    <div class="popular-searches"><h3>Popular Searches</h3></div>
  <div class="mf5 mf2">
	<a href="https://saralhome.com/collections/bedcovers">Bed Sheet</a>  <a
		href="https://saralhome.com/collections/curtains">Curtain</a>  <a
		href="https://saralhome.com/collections/door-mat">Door Mat</a>  <a
		href="https://saralhome.com/collections/rugs-carpet">Rugs and Carpets</a>  <a
		href="https://saralhome.com/collections/floor-carpet-runner">Carpet Runner</a>  <a
		href="https://saralhome.com/collections/carpet-for-living-room">Carpets for Living Room</a>  <a
		href="https://saralhome.com/collections/sofa-cover">Sofa throw cover</a>  <a
		href="https://saralhome.com/collections/yogamats">Yoga Mats</a>  <a
		href="https://saralhome.com/collections/bathmat">Bath Mats</a>  <a
		href="https://saralhome.com/collections/bedding">Bed Sheets</a>  <a
		href="https://saralhome.com/collections/table-mat">Dining Table Mats</a>  <a
		href="https://saralhome.com/collections/sofa-cushion-covers">Sofa Cushion Covers</a>  <a
		href="https://saralhome.com/collections/cushions">Cushion Covers</a>  <a
		href="https://saralhome.com/collections/floor-runner">Floor Runners</a>  <a
		href="https://saralhome.com/collections/kids">Kids Mats</a>  <a
		href="https://saralhome.com/collections/kids">Kids Bedsheets</a>  <a
		href="https://saralhome.com/collections/kids">Bedcovers for Kids</a>  <a
		href="https://saralhome.com/collections/covers-quilts">Quilt Covers</a>  <a
		href="https://saralhome.com/collections/peppa-pig">Peppa Pig Mats Bedsheets Rugs</a>  <a
		href="https://saralhome.com/collections/sale-sale-sale">Home Furnishings Sale</a>  <a
		href="https://saralhome.com/collections/combo">Combo Sets for Home Furnishing</a>  <a
		href="https://saralhome.com/collections/paw-patrol">Paw Patrol Mats, Bedsheets, Blankets</a>  <a
		href="https://saralhome.com/collections/jute-matanti-slip">Jute Mat Anti Slip</a>
</div>
</div>
