<div class="oc6">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
<path d="M7.81138 0L9.55611 5.40995L15.2404 5.39753L10.6344 8.72864L12.4028 14.1309L7.81138 10.7797L3.21996 14.1309L4.98833 8.72864L0.382316 5.39753L6.06664 5.40995L7.81138 0Z" fill="#333333"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
<path d="M7.81138 0L9.55611 5.40995L15.2404 5.39753L10.6344 8.72864L12.4028 14.1309L7.81138 10.7797L3.21996 14.1309L4.98833 8.72864L0.382316 5.39753L6.06664 5.40995L7.81138 0Z" fill="#333333"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
<path d="M7.81138 0L9.55611 5.40995L15.2404 5.39753L10.6344 8.72864L12.4028 14.1309L7.81138 10.7797L3.21996 14.1309L4.98833 8.72864L0.382316 5.39753L6.06664 5.40995L7.81138 0Z" fill="#333333"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
<path d="M7.81138 0L9.55611 5.40995L15.2404 5.39753L10.6344 8.72864L12.4028 14.1309L7.81138 10.7797L3.21996 14.1309L4.98833 8.72864L0.382316 5.39753L6.06664 5.40995L7.81138 0Z" fill="#333333"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
<path d="M7.81138 0L9.55611 5.40995L15.2404 5.39753L10.6344 8.72864L12.4028 14.1309L7.81138 10.7797L3.21996 14.1309L4.98833 8.72864L0.382316 5.39753L6.06664 5.40995L7.81138 0Z" fill="#333333"/>
</svg>
</div>