<style>
.col-md-6.clo-12.p-3 {
    position: relative;
    top: 0px;
    left: 0px;
}
 .bt {
    position: absolute;
    top: 63%;
    left: 56%;
   
}
  .bt1 {
    position: absolute;
    top: 40%;
    left: 40%;
}
  .bt2 {
    position: absolute;
    top: 80%;
    left: 29%;
}
  
.bt button.btn
  {
  background:black;
   border:1px solid white;
   border-radius:50%;
   color:white;
  }
   .bt1 button.btn
  {
  background:black;
   border:1px solid white;
   border-radius:50%;
   color:white;
  }
   .bt2 button.btn
  {
  background:black;
   border:1px solid white;
   border-radius:50%;
   color:white;
  }
  .toggle_box{
  	max-height:0px;
    max-width:0px;
    transition:all 0.3s ease-in;
    overflow:hidden;
  }
  .toggle_box.visible{
  	max-height:900px;
    max-width:900px;
  }
</style>


<div class="contaniner-fluid fix_padding">
  <div class="row">
    <div class="col-12 py-3">
      <h2> Handpicked by us </h2>
    </div>
    
	<div class="col-md-6 clo-12 p-3">
      
    <div>	
      <center>  <img src="https://cdn.shopify.com/s/files/1/0256/3683/1318/files/image_13_2.png?v=1654750261"/></center>
      </div>
      <div class="bt toggle_container">
        <button class="toggler_ btn">+</button>
        <div class="toggle_box">
          <div class="image_wrap"><img src=""/></div>
          <span>Saral Home Blue Cotton<br>Printed Table Mat</span>
          <span>Rs. 849</span>
        </div>
      </div>
      
    </div>
    
    <div class="col-md-6 clo-12 p-3">
      <center> <img src="https://cdn.shopify.com/s/files/1/0256/3683/1318/files/image_15_1.png?v=1654750589"/></center>
      <div class=" bt1 toggle_container">
      <button class="btn"> +</button>
        <div class="toggle_box">
          <div class="image_wrap"><img src=""/></div>
          <span>Saral Home Blue Cotton<br>Printed Table Mat</span>
          <span>Rs. 849</span>
        </div>
      </div>
      <div class=" bt2 toggle_container">
        <button type="button" class="btn">+</button>
        <div class="toggle_box">
          <div class="image_wrap"><img src=""/></div>
          <span>Saral Home Blue Cotton<br>Printed Table Mat</span>
          <span>Rs. 849</span>
        </div>
      </div>
    </div>
  </div>
</div>
    
{% schema %}
  {
    "name": "Handpicked",
    "settings": [],
"presets":[{"name":"Handpicked"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
$('.toggle_container button').each(function(ind,el){
  $(el).on('click',function(){
  	let wrap = $(el).closest('.toggle_container');
    let block = wrap[0].querySelector('.toggle_box');
    block.classList.toggle('visible');
  })	
})
</script>