<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<style>
      .oc {
          padding: 0px 16px 32px;
      }

      .oc>h2:nth-child(1) {
          font-style: normal;
          font-weight: 900;
          font-size: 22px;
          line-height: 28px;
          color: #3A3844;
          text-align: center;
          margin-bottom: 32px;
          margin-top: 32px;
      }

  .oc2 {
      background: #FFFDFA;
      box-shadow: 0px 0px 4px rgb(190 189 189 / 25%);
      border-radius: 8px;
  }
      .oc div#carouselExampleIndicators {
          width: 100%;
      }

    .oc3 {
      display: flex;
      justify-content: space-between;
      padding: 12px 12px 0px;
  }

    .oc9 p{
    font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #523F33;
  font-family: "WorkSans-Regular";
  }

    .oc6 svg {
      width: 24px;
      height: 24px;
  }

    .oc6 svg path {
      fill: #DECC83;
      border-color: #DECC83;
      stroke: #DECC83;
  }

    .oc4 h4 {
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: #3B3B3B;
      padding: 12px;
      font-family: 'Cormorant Garamond';
      letter-spacing: 1px;
  }

    .oc5 {
      display: flex;
      align-items: center;
      padding: 12px;
      gap: 12px;
  }

  .oc7 {
      flex: 0 0 35%;
      max-width: 35%;
      text-align: center;
      background: white;
      border-radius: 100px;
      width: 120px;
      height: 120px;
      position: relative;
  }

  .oc7 svg {
      width: 50%;
      height: 50%;
      top: 25%;
      position: absolute;
      left: 25%;
  }

  .oc8 {
      flex: 0 0 65%;
      max-width: 65%;
    padding-right:16px;
  }

  .oc8 p {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #3A3844;
        font-family: "WorkSans-Regular";
  }

  .oc8 h5 {
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 20px;
      color: #3A3844;
      padding: 8px 0px;
  }

  .carousel-indicators button {
      border: 2px solid #F5F9FA!important;
      background: #F5F9FA!important;
      width: 24px!important;
      height: 0px!important;
  }

  .carousel-indicators{
    bottom:-40px!important;
  }

  .carousel-indicators button.active {
      border-color: #3B3B3B!important;
      background: #3B3B3B!important;
  }

  .oc button.carousel-control-prev {
      display: none!important;
  }

  .oc button.carousel-control-next {
      display: none!important;
  }

  .oc ul.slick-dots li {
      border: 2px solid #F5F9FA!important;
      background: #F5F9FA!important;
      width: 24px!important;
      height: 0px!important;
    border-radius:0px;
    margin:0px;

  }

  .oc ul.slick-dots .slick-active {
      border-color: #3B3B3B!important;
      background: #3B3B3B!important;
    margin:0px;
  }

  ul:not(.list-unstyled):not([list-unstyled]) li.slick-active:before {
      background: none;
  }

  ul:not(.list-unstyled):not([list-unstyled]) li:before {
      background: none;
  }

  .oc ul.slick-dots {
      position: absolute;
      bottom: -39px;
      left: 0;
      right: 0;
      margin: 0px;
      padding: 0px;
      gap: 8px;
        width: 100%;
  }

  .oc .carousel-indicators {
      display: none;
  }
  @media(min-width:768px){
    .oc {
      padding: 0px 120px!important;
      margin: 0px auto!important;
  }

  .oc>h2:nth-child(1) {
      font-weight: 900;
      font-size: 32px;
      line-height: 49px;
      color: #3A3844;
      margin: 80px 0px 30px;
  }

  .oc2 {
      background: #FFFFFF;
      box-shadow: 0px 0px;
      border-radius: 0px;
  }

  .oc .slider-item {
      background: #FFFDFA;
      box-shadow: 0px 0px 4px rgb(190 189 189 / 25%);
      border-radius: 8px;
    margin-left:30px;
  }

  .oc .slick-track {
      display: flex;
    margin-left:-15px;
  }

  .oc ul.slick-dots {
      bottom: 0px;
  }
  }
</style>
<!-- CSS only -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
  crossorigin="anonymous"
>
<!-- JavaScript Bundle with Popper -->

<div class="oc">
  <h2>Our customers</h2>
  <div class="oc2">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class=" slick_">
        <div class="slider-item active">
          <div class="oc3">
            <div class="oc6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
            </div>
            <div class="oc9">
              <p>22/03/22</p>
            </div>
          </div>

          <div class="oc4">
            <h4>Fantastic product</h4>
          </div>
          <div class="oc5">
            <div class="oc7">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="46"
                height="41"
                viewBox="0 0 46 41"
                fill="none"
              >
                <path
                    d="M11.4532 40.4546C8.02081 40.4546 5.27491 39.2271 3.21548 36.772C1.25412 34.2187 0.273438 30.9288 0.273438 26.9024C0.273438 21.403 1.74446 16.4437 4.6865 12.0245C7.72661 7.50708 12.3358 3.72621 18.5141 0.681885L20.1322 3.03878C17.1902 4.80646 14.4933 7.31067 12.0416 10.5514C9.68797 13.6939 8.51115 16.8856 8.51115 20.1263C8.51115 21.0102 8.75633 21.7467 9.24667 22.3359C9.73701 22.827 10.4725 23.0725 11.4532 23.0725C13.9049 23.0725 15.9643 23.9563 17.6315 25.724C19.3967 27.3934 20.2793 29.4557 20.2793 31.9108C20.2793 34.3659 19.3967 36.4282 17.6315 38.0977C15.9643 39.669 13.9049 40.4546 11.4532 40.4546ZM36.9019 40.4546C33.4695 40.4546 30.7236 39.2271 28.6641 36.772C26.7028 34.2187 25.7221 30.9288 25.7221 26.9024C25.7221 21.403 27.1931 16.4437 30.1352 12.0245C33.1753 7.50708 37.7845 3.72621 43.9628 0.681885L45.5809 3.03878C42.6388 4.80646 39.942 7.31067 37.4903 10.5514C35.1366 13.6939 33.9598 16.8856 33.9598 20.1263C33.9598 21.0102 34.205 21.7467 34.6953 22.3359C35.1857 22.827 35.9212 23.0725 36.9019 23.0725C39.3536 23.0725 41.413 23.9563 43.0801 25.724C44.8454 27.3934 45.728 29.4557 45.728 31.9108C45.728 34.3659 44.8454 36.4282 43.0801 38.0977C41.413 39.669 39.3536 40.4546 36.9019 40.4546Z"
                    fill="#3B3B3B" />
              </svg>
            </div>
            <div class="oc8">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text
              </p>
              <h5>-Avinash</h5>
            </div>
          </div>
        </div>

        <div class="slider-item">
          <div class="oc3">
            <div class="oc6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
            </div>
            <div class="oc9">
              <p>22/03/22</p>
            </div>
          </div>

          <div class="oc4">
            <h4>Fantastic product</h4>
          </div>
          <div class="oc5">
            <div class="oc7">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="46"
                height="41"
                viewBox="0 0 46 41"
                fill="none"
              >
                <path
                    d="M11.4532 40.4546C8.02081 40.4546 5.27491 39.2271 3.21548 36.772C1.25412 34.2187 0.273438 30.9288 0.273438 26.9024C0.273438 21.403 1.74446 16.4437 4.6865 12.0245C7.72661 7.50708 12.3358 3.72621 18.5141 0.681885L20.1322 3.03878C17.1902 4.80646 14.4933 7.31067 12.0416 10.5514C9.68797 13.6939 8.51115 16.8856 8.51115 20.1263C8.51115 21.0102 8.75633 21.7467 9.24667 22.3359C9.73701 22.827 10.4725 23.0725 11.4532 23.0725C13.9049 23.0725 15.9643 23.9563 17.6315 25.724C19.3967 27.3934 20.2793 29.4557 20.2793 31.9108C20.2793 34.3659 19.3967 36.4282 17.6315 38.0977C15.9643 39.669 13.9049 40.4546 11.4532 40.4546ZM36.9019 40.4546C33.4695 40.4546 30.7236 39.2271 28.6641 36.772C26.7028 34.2187 25.7221 30.9288 25.7221 26.9024C25.7221 21.403 27.1931 16.4437 30.1352 12.0245C33.1753 7.50708 37.7845 3.72621 43.9628 0.681885L45.5809 3.03878C42.6388 4.80646 39.942 7.31067 37.4903 10.5514C35.1366 13.6939 33.9598 16.8856 33.9598 20.1263C33.9598 21.0102 34.205 21.7467 34.6953 22.3359C35.1857 22.827 35.9212 23.0725 36.9019 23.0725C39.3536 23.0725 41.413 23.9563 43.0801 25.724C44.8454 27.3934 45.728 29.4557 45.728 31.9108C45.728 34.3659 44.8454 36.4282 43.0801 38.0977C41.413 39.669 39.3536 40.4546 36.9019 40.4546Z"
                    fill="#3B3B3B" />
              </svg>
            </div>
            <div class="oc8">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text
              </p>
              <h5>-Avinash</h5>
            </div>
          </div>
        </div>

        <div class="slider-item">
          <div class="oc3">
            <div class="oc6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
            </div>
            <div class="oc9">
              <p>22/03/22</p>
            </div>
          </div>

          <div class="oc4">
            <h4>Fantastic product</h4>
          </div>
          <div class="oc5">
            <div class="oc7">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="46"
                height="41"
                viewBox="0 0 46 41"
                fill="none"
              >
                <path
                    d="M11.4532 40.4546C8.02081 40.4546 5.27491 39.2271 3.21548 36.772C1.25412 34.2187 0.273438 30.9288 0.273438 26.9024C0.273438 21.403 1.74446 16.4437 4.6865 12.0245C7.72661 7.50708 12.3358 3.72621 18.5141 0.681885L20.1322 3.03878C17.1902 4.80646 14.4933 7.31067 12.0416 10.5514C9.68797 13.6939 8.51115 16.8856 8.51115 20.1263C8.51115 21.0102 8.75633 21.7467 9.24667 22.3359C9.73701 22.827 10.4725 23.0725 11.4532 23.0725C13.9049 23.0725 15.9643 23.9563 17.6315 25.724C19.3967 27.3934 20.2793 29.4557 20.2793 31.9108C20.2793 34.3659 19.3967 36.4282 17.6315 38.0977C15.9643 39.669 13.9049 40.4546 11.4532 40.4546ZM36.9019 40.4546C33.4695 40.4546 30.7236 39.2271 28.6641 36.772C26.7028 34.2187 25.7221 30.9288 25.7221 26.9024C25.7221 21.403 27.1931 16.4437 30.1352 12.0245C33.1753 7.50708 37.7845 3.72621 43.9628 0.681885L45.5809 3.03878C42.6388 4.80646 39.942 7.31067 37.4903 10.5514C35.1366 13.6939 33.9598 16.8856 33.9598 20.1263C33.9598 21.0102 34.205 21.7467 34.6953 22.3359C35.1857 22.827 35.9212 23.0725 36.9019 23.0725C39.3536 23.0725 41.413 23.9563 43.0801 25.724C44.8454 27.3934 45.728 29.4557 45.728 31.9108C45.728 34.3659 44.8454 36.4282 43.0801 38.0977C41.413 39.669 39.3536 40.4546 36.9019 40.4546Z"
                    fill="#3B3B3B" />
              </svg>
            </div>
            <div class="oc8">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text
              </p>
              <h5>-Avinash</h5>
            </div>
          </div>
        </div>

        <div class="slider-item">
          <div class="oc3">
            <div class="oc6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
            </div>
            <div class="oc9">
              <p>22/03/22</p>
            </div>
          </div>

          <div class="oc4">
            <h4>Fantastic product</h4>
          </div>
          <div class="oc5">
            <div class="oc7">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="46"
                height="41"
                viewBox="0 0 46 41"
                fill="none"
              >
                <path
                    d="M11.4532 40.4546C8.02081 40.4546 5.27491 39.2271 3.21548 36.772C1.25412 34.2187 0.273438 30.9288 0.273438 26.9024C0.273438 21.403 1.74446 16.4437 4.6865 12.0245C7.72661 7.50708 12.3358 3.72621 18.5141 0.681885L20.1322 3.03878C17.1902 4.80646 14.4933 7.31067 12.0416 10.5514C9.68797 13.6939 8.51115 16.8856 8.51115 20.1263C8.51115 21.0102 8.75633 21.7467 9.24667 22.3359C9.73701 22.827 10.4725 23.0725 11.4532 23.0725C13.9049 23.0725 15.9643 23.9563 17.6315 25.724C19.3967 27.3934 20.2793 29.4557 20.2793 31.9108C20.2793 34.3659 19.3967 36.4282 17.6315 38.0977C15.9643 39.669 13.9049 40.4546 11.4532 40.4546ZM36.9019 40.4546C33.4695 40.4546 30.7236 39.2271 28.6641 36.772C26.7028 34.2187 25.7221 30.9288 25.7221 26.9024C25.7221 21.403 27.1931 16.4437 30.1352 12.0245C33.1753 7.50708 37.7845 3.72621 43.9628 0.681885L45.5809 3.03878C42.6388 4.80646 39.942 7.31067 37.4903 10.5514C35.1366 13.6939 33.9598 16.8856 33.9598 20.1263C33.9598 21.0102 34.205 21.7467 34.6953 22.3359C35.1857 22.827 35.9212 23.0725 36.9019 23.0725C39.3536 23.0725 41.413 23.9563 43.0801 25.724C44.8454 27.3934 45.728 29.4557 45.728 31.9108C45.728 34.3659 44.8454 36.4282 43.0801 38.0977C41.413 39.669 39.3536 40.4546 36.9019 40.4546Z"
                    fill="#3B3B3B" />
              </svg>
            </div>
            <div class="oc8">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text
              </p>
              <h5>-Avinash</h5>
            </div>
          </div>
        </div>

        <div class="slider-item">
          <div class="oc3">
            <div class="oc6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
            </div>
            <div class="oc9">
              <p>22/03/22</p>
            </div>
          </div>

          <div class="oc4">
            <h4>Fantastic product</h4>
          </div>
          <div class="oc5">
            <div class="oc7">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="46"
                height="41"
                viewBox="0 0 46 41"
                fill="none"
              >
                <path
                    d="M11.4532 40.4546C8.02081 40.4546 5.27491 39.2271 3.21548 36.772C1.25412 34.2187 0.273438 30.9288 0.273438 26.9024C0.273438 21.403 1.74446 16.4437 4.6865 12.0245C7.72661 7.50708 12.3358 3.72621 18.5141 0.681885L20.1322 3.03878C17.1902 4.80646 14.4933 7.31067 12.0416 10.5514C9.68797 13.6939 8.51115 16.8856 8.51115 20.1263C8.51115 21.0102 8.75633 21.7467 9.24667 22.3359C9.73701 22.827 10.4725 23.0725 11.4532 23.0725C13.9049 23.0725 15.9643 23.9563 17.6315 25.724C19.3967 27.3934 20.2793 29.4557 20.2793 31.9108C20.2793 34.3659 19.3967 36.4282 17.6315 38.0977C15.9643 39.669 13.9049 40.4546 11.4532 40.4546ZM36.9019 40.4546C33.4695 40.4546 30.7236 39.2271 28.6641 36.772C26.7028 34.2187 25.7221 30.9288 25.7221 26.9024C25.7221 21.403 27.1931 16.4437 30.1352 12.0245C33.1753 7.50708 37.7845 3.72621 43.9628 0.681885L45.5809 3.03878C42.6388 4.80646 39.942 7.31067 37.4903 10.5514C35.1366 13.6939 33.9598 16.8856 33.9598 20.1263C33.9598 21.0102 34.205 21.7467 34.6953 22.3359C35.1857 22.827 35.9212 23.0725 36.9019 23.0725C39.3536 23.0725 41.413 23.9563 43.0801 25.724C44.8454 27.3934 45.728 29.4557 45.728 31.9108C45.728 34.3659 44.8454 36.4282 43.0801 38.0977C41.413 39.669 39.3536 40.4546 36.9019 40.4546Z"
                    fill="#3B3B3B" />
              </svg>
            </div>
            <div class="oc8">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text
              </p>
              <h5>-Avinash</h5>
            </div>
          </div>
        </div>

        <div class="slider-item">
          <div class="oc3">
            <div class="oc6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
            </div>
            <div class="oc9">
              <p>22/03/22</p>
            </div>
          </div>

          <div class="oc4">
            <h4>Fantastic product</h4>
          </div>
          <div class="oc5">
            <div class="oc7">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="46"
                height="41"
                viewBox="0 0 46 41"
                fill="none"
              >
                <path
                    d="M11.4532 40.4546C8.02081 40.4546 5.27491 39.2271 3.21548 36.772C1.25412 34.2187 0.273438 30.9288 0.273438 26.9024C0.273438 21.403 1.74446 16.4437 4.6865 12.0245C7.72661 7.50708 12.3358 3.72621 18.5141 0.681885L20.1322 3.03878C17.1902 4.80646 14.4933 7.31067 12.0416 10.5514C9.68797 13.6939 8.51115 16.8856 8.51115 20.1263C8.51115 21.0102 8.75633 21.7467 9.24667 22.3359C9.73701 22.827 10.4725 23.0725 11.4532 23.0725C13.9049 23.0725 15.9643 23.9563 17.6315 25.724C19.3967 27.3934 20.2793 29.4557 20.2793 31.9108C20.2793 34.3659 19.3967 36.4282 17.6315 38.0977C15.9643 39.669 13.9049 40.4546 11.4532 40.4546ZM36.9019 40.4546C33.4695 40.4546 30.7236 39.2271 28.6641 36.772C26.7028 34.2187 25.7221 30.9288 25.7221 26.9024C25.7221 21.403 27.1931 16.4437 30.1352 12.0245C33.1753 7.50708 37.7845 3.72621 43.9628 0.681885L45.5809 3.03878C42.6388 4.80646 39.942 7.31067 37.4903 10.5514C35.1366 13.6939 33.9598 16.8856 33.9598 20.1263C33.9598 21.0102 34.205 21.7467 34.6953 22.3359C35.1857 22.827 35.9212 23.0725 36.9019 23.0725C39.3536 23.0725 41.413 23.9563 43.0801 25.724C44.8454 27.3934 45.728 29.4557 45.728 31.9108C45.728 34.3659 44.8454 36.4282 43.0801 38.0977C41.413 39.669 39.3536 40.4546 36.9019 40.4546Z"
                    fill="#3B3B3B" />
              </svg>
            </div>
            <div class="oc8">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text
              </p>
              <h5>-Avinash</h5>
            </div>
          </div>
        </div>

        <div class="slider-item">
          <div class="oc3">
            <div class="oc6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
            </div>
            <div class="oc9">
              <p>22/03/22</p>
            </div>
          </div>

          <div class="oc4">
            <h4>Fantastic product</h4>
          </div>
          <div class="oc5">
            <div class="oc7">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="46"
                height="41"
                viewBox="0 0 46 41"
                fill="none"
              >
                <path
                    d="M11.4532 40.4546C8.02081 40.4546 5.27491 39.2271 3.21548 36.772C1.25412 34.2187 0.273438 30.9288 0.273438 26.9024C0.273438 21.403 1.74446 16.4437 4.6865 12.0245C7.72661 7.50708 12.3358 3.72621 18.5141 0.681885L20.1322 3.03878C17.1902 4.80646 14.4933 7.31067 12.0416 10.5514C9.68797 13.6939 8.51115 16.8856 8.51115 20.1263C8.51115 21.0102 8.75633 21.7467 9.24667 22.3359C9.73701 22.827 10.4725 23.0725 11.4532 23.0725C13.9049 23.0725 15.9643 23.9563 17.6315 25.724C19.3967 27.3934 20.2793 29.4557 20.2793 31.9108C20.2793 34.3659 19.3967 36.4282 17.6315 38.0977C15.9643 39.669 13.9049 40.4546 11.4532 40.4546ZM36.9019 40.4546C33.4695 40.4546 30.7236 39.2271 28.6641 36.772C26.7028 34.2187 25.7221 30.9288 25.7221 26.9024C25.7221 21.403 27.1931 16.4437 30.1352 12.0245C33.1753 7.50708 37.7845 3.72621 43.9628 0.681885L45.5809 3.03878C42.6388 4.80646 39.942 7.31067 37.4903 10.5514C35.1366 13.6939 33.9598 16.8856 33.9598 20.1263C33.9598 21.0102 34.205 21.7467 34.6953 22.3359C35.1857 22.827 35.9212 23.0725 36.9019 23.0725C39.3536 23.0725 41.413 23.9563 43.0801 25.724C44.8454 27.3934 45.728 29.4557 45.728 31.9108C45.728 34.3659 44.8454 36.4282 43.0801 38.0977C41.413 39.669 39.3536 40.4546 36.9019 40.4546Z"
                    fill="#3B3B3B" />
              </svg>
            </div>
            <div class="oc8">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text
              </p>
              <h5>-Avinash</h5>
            </div>
          </div>
        </div>

        <div class="slider-item">
          <div class="oc3">
            <div class="oc6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
            </div>
            <div class="oc9">
              <p>22/03/22</p>
            </div>
          </div>

          <div class="oc4">
            <h4>Fantastic product</h4>
          </div>
          <div class="oc5">
            <div class="oc7">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="46"
                height="41"
                viewBox="0 0 46 41"
                fill="none"
              >
                <path
                    d="M11.4532 40.4546C8.02081 40.4546 5.27491 39.2271 3.21548 36.772C1.25412 34.2187 0.273438 30.9288 0.273438 26.9024C0.273438 21.403 1.74446 16.4437 4.6865 12.0245C7.72661 7.50708 12.3358 3.72621 18.5141 0.681885L20.1322 3.03878C17.1902 4.80646 14.4933 7.31067 12.0416 10.5514C9.68797 13.6939 8.51115 16.8856 8.51115 20.1263C8.51115 21.0102 8.75633 21.7467 9.24667 22.3359C9.73701 22.827 10.4725 23.0725 11.4532 23.0725C13.9049 23.0725 15.9643 23.9563 17.6315 25.724C19.3967 27.3934 20.2793 29.4557 20.2793 31.9108C20.2793 34.3659 19.3967 36.4282 17.6315 38.0977C15.9643 39.669 13.9049 40.4546 11.4532 40.4546ZM36.9019 40.4546C33.4695 40.4546 30.7236 39.2271 28.6641 36.772C26.7028 34.2187 25.7221 30.9288 25.7221 26.9024C25.7221 21.403 27.1931 16.4437 30.1352 12.0245C33.1753 7.50708 37.7845 3.72621 43.9628 0.681885L45.5809 3.03878C42.6388 4.80646 39.942 7.31067 37.4903 10.5514C35.1366 13.6939 33.9598 16.8856 33.9598 20.1263C33.9598 21.0102 34.205 21.7467 34.6953 22.3359C35.1857 22.827 35.9212 23.0725 36.9019 23.0725C39.3536 23.0725 41.413 23.9563 43.0801 25.724C44.8454 27.3934 45.728 29.4557 45.728 31.9108C45.728 34.3659 44.8454 36.4282 43.0801 38.0977C41.413 39.669 39.3536 40.4546 36.9019 40.4546Z"
                    fill="#3B3B3B" />
              </svg>
            </div>
            <div class="oc8">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text
              </p>
              <h5>-Avinash</h5>
            </div>
          </div>
        </div>

        <div class="slider-item">
          <div class="oc3">
            <div class="oc6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                viewBox="0 0 20 19"
                fill="none"
              >
                <path
                    d="M9.04894 0.927052C9.3483 0.00574112 10.6517 0.00573993 10.9511 0.927051L12.4697 5.60081C12.6035 6.01284 12.9875 6.2918 13.4207 6.2918H18.335C19.3037 6.2918 19.7065 7.53141 18.9228 8.10081L14.947 10.9894C14.5966 11.244 14.4499 11.6954 14.5838 12.1074L16.1024 16.7812C16.4017 17.7025 15.3472 18.4686 14.5635 17.8992L10.5878 15.0106C10.2373 14.756 9.7627 14.756 9.41221 15.0106L5.43648 17.8992C4.65276 18.4686 3.59828 17.7025 3.89763 16.7812L5.41623 12.1074C5.55011 11.6954 5.40345 11.244 5.05296 10.9894L1.07722 8.10081C0.293507 7.53141 0.696283 6.2918 1.66501 6.2918H6.57929C7.01252 6.2918 7.39647 6.01284 7.53035 5.60081L9.04894 0.927052Z"
                    fill="#DECC83" />
              </svg>
            </div>
            <div class="oc9">
              <p>22/03/22</p>
            </div>
          </div>

          <div class="oc4">
            <h4>Fantastic product</h4>
          </div>
          <div class="oc5">
            <div class="oc7">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="46"
                height="41"
                viewBox="0 0 46 41"
                fill="none"
              >
                <path
                    d="M11.4532 40.4546C8.02081 40.4546 5.27491 39.2271 3.21548 36.772C1.25412 34.2187 0.273438 30.9288 0.273438 26.9024C0.273438 21.403 1.74446 16.4437 4.6865 12.0245C7.72661 7.50708 12.3358 3.72621 18.5141 0.681885L20.1322 3.03878C17.1902 4.80646 14.4933 7.31067 12.0416 10.5514C9.68797 13.6939 8.51115 16.8856 8.51115 20.1263C8.51115 21.0102 8.75633 21.7467 9.24667 22.3359C9.73701 22.827 10.4725 23.0725 11.4532 23.0725C13.9049 23.0725 15.9643 23.9563 17.6315 25.724C19.3967 27.3934 20.2793 29.4557 20.2793 31.9108C20.2793 34.3659 19.3967 36.4282 17.6315 38.0977C15.9643 39.669 13.9049 40.4546 11.4532 40.4546ZM36.9019 40.4546C33.4695 40.4546 30.7236 39.2271 28.6641 36.772C26.7028 34.2187 25.7221 30.9288 25.7221 26.9024C25.7221 21.403 27.1931 16.4437 30.1352 12.0245C33.1753 7.50708 37.7845 3.72621 43.9628 0.681885L45.5809 3.03878C42.6388 4.80646 39.942 7.31067 37.4903 10.5514C35.1366 13.6939 33.9598 16.8856 33.9598 20.1263C33.9598 21.0102 34.205 21.7467 34.6953 22.3359C35.1857 22.827 35.9212 23.0725 36.9019 23.0725C39.3536 23.0725 41.413 23.9563 43.0801 25.724C44.8454 27.3934 45.728 29.4557 45.728 31.9108C45.728 34.3659 44.8454 36.4282 43.0801 38.0977C41.413 39.669 39.3536 40.4546 36.9019 40.4546Z"
                    fill="#3B3B3B" />
              </svg>
            </div>
            <div class="oc8">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text
              </p>
              <h5>-Avinash</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
      $(".carousel").carousel("dispose")
      $('.slick_').slick({
    dots: true,
    infinite: false,
    speed: 300,
    slidesToShow: 3,
    slidesToScroll: 3,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
          arrows:false
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows:false
        }
      }

    ]
  });

    })
</script>
{% schema %}
{
"name": "our customers",
"settings": [],
"presets": [
{
"name": "our customers",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
