<style>
  .static_pages{
    font-family:'WorkSans-Regular';
    padding:0px 120px;
  }
  .static_pages h3{
    text-align:center;
    font-size:42px;
    line-height: 49px;
    margin-bottom: 72px;
    margin-top: 20px;
  }

  .static_pages p {
    font-family: 'WorkSans-Regular';
    font-size: 20px;
    line-height: 46px;
    color: black;
    font-weight: 300;
    margin-bottom: 32px;
}

.static_pages h4 {
    font-weight: 600;
    font-size: 20px;
}
</style>
<div class="static_pages">
<h3>About Us</h3>
<p>Saral Home is a Team of Young people Passionate for Design and Skill-full Manufacturing. Busy thinking only ABOUT YOU!!</p>
<p>That is the core reason that Happy Satisfied Customers have Ranked our Items in short span of 3 years as “The Bestsellers” on Leading Ecommerce Sites, All our Products have started to reach the shelves on organized Retail and Modern Trade as well. Our sales have seen phenomenal growth of 1000% in last 2 years.</p>
<p>Our Aim is to Manufacture In-house the Best, Practical, Ecofriendly-Safe Products: Home Textile. We Stay Specific only to products which we produce Inhouse using all the materials Made in India. Thus we meet the competitive market trend and consistently deliver materials quality for value products to customers at great prices and on time. Our strong teams interpret International design forecasts and bring up market products suitable for India.</p>
<p>Be it a Doraemon Bathmat / Decorative table Mat or Mobile Pocket. We have only you on our mind.
Evolving and Learning We aspire to make our customers happy and keep doing what we do best!!
Quality Products, Ethical manufacturing, Staying Specific & making products that brings u Ease... i.e. SARAL-Easy Living.
Please feel free to contact us at website@saralhome.com OR Whatsapp us at ,+91-8199951914
</p>
<h4>Yours Ever</h4>
<h4>Team Saral Home</h4>
</div>