<style>
  .hv{
    background:#FFF9EA;
    padding:20px 16px;
    position:relative;
  }

  .hv h3{
    font-family: 'WorkSans-Regular';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #333333;
margin-bottom:10px;
  }

  .hv p{
    font-family: 'WorkSans-Regular';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: #333333;
margin-bottom:20px;
  }

  .hv img{
    width:100%;
    border-radius: 4px;
  }

  @media (min-width:768px){
    .hv{
      display:none;
    }
  }
</style>
<div class="hv">
  <h3>Here we can talk about the values of the brand via Hero Video</h3>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
  <img src="https://cdn.shopify.com/s/files/1/0256/3683/1318/files/Frame_4046.png?v=1664179961">
  <a href="#" class="url"></a>
</div>
{% schema %}
  {
    "name": "hero video",
    "settings": [],
    "presets": [
{
"name": "hero video",
"category": "ADVANCED LAYOUT"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}