<style>
    .bulk-order-fix_padding{
      padding:50px 120px;
    }
  @media(max-width:768px){
      .bulk-order-fix_padding{
      padding:20px 16px;
    }
  }
</style>
<div class="bulk-order">
  {% section 'bulk-order-banner' %}
  {% section 'bulk-order-specialize' %}
  {% section 'why-bulk-order' %}
  {% section 'bulk-order-request' %}
  {% section 'bulk-order-customer' %}
</div>
