<style>
  @media(min-width:764px)
  {
      .slick-list.draggable {
    height: 513.678px!important;
}
    
  }
  .product-page .product-options>div {
    margin-bottom: 5px;
}
  .container-flid_np {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
  .container_np {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  .row_np {
    width: 100%;
}
  .product-page.mt-30.pb-30 {
    margin-top: 10px!important;
}
.product-page, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding: 0px 0px!important;
    margin: 0px auto!important;
}
  .desc_heading {
    display: flex;
    justify-content: flex-start!important;
    gap: 20px;
}
  .desc_block.desc_wrap.visible,
  .desc_block.about_wrap.visible {
    margin-top: 30px;
    border-top: 2px solid #DCDCDC!important;
    border-bottom: 2px solid #DCDCDC!important;
   
}
  .desc_heading, .product-description .desc_block {
    border-bottom: solid 0px #f6f6f6!important;
}
  .desc_heading button.active {
    color: #2C2C2C!important;
}
.desc_heading button {
    color: #929292!important;
}
  .price-wrap {
    width: 60%!important;
}
  .flash-sale-section-wrap .section-head {
    padding-top: 0%!important;
}
  .flash-sale-section-wrap .section-head-left {
    margin-bottom: 0%!important;
}
  .flash-sale-section-wrap .card {
    background: #fff;
     padding: 0%!important;
}
  .card-info.card-layout- {
    padding: 5px!important;
}
  .product-page.mt-30.pb-30 .container {
    padding: 0!important;
}
  span.title_box h1 {
    margin:0px!important;
   
    
}
   span.title_box span {
    padding: 0 0 15px 0px!important;
}
  .section-padding {
    padding-inline: 0px!important;
}
  .product-page-info__price.text-center.text-md-left.mb-25.new {
    display: flex!important;
    margin-bottom:10px;
}
  .product-page-info__price.text-center.text-md-left.mb-25 {
    display: none!important;
}
  
  .p_price {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
}
  p.product-page-info__price-sale-details.mt-5.mt-md-10.text-center.text-md-left {
    background: #F9CE39!important;
    border-radius: 50px!important;
    padding: 10px!important;
    color: black!important;
}
  .product-page .product-page-info__price.text-center.text-md-left.mb-25 span.prs {
    font-size: 25px!important;
}
  .product-page-info__price.new.text-center.text-md-left.mb-25 {
    margin-top: 0!important;
    margin-bottom: 1%!important;
}
  .product-page .product-page-info__field.product-page-info__quantity label {
    margin-bottom: 0px!important;
        color: black;
}
  .product-page-info__field.product-page-info__quantity {
    display: flex;
    align-items: center;
}
  .product-page .input-quantity.input-quantity--type-04.d-flex.align-items-center.position-relative.mr-10.js-product-quantity input {
    border: 1px solid #000000;
    border-radius: 50px;
    color: #3B3A3D;
}
  .all_tax {
    color:#929292;
    margin-bottom: 4%;
    font-size: 12px;
}
  p.taxes {
    display: none!important;
}
  .product-page-info__field.product-page-info__quantity {
    margin-bottom: 4%;
}
  button.shopify-payment-button__button.shopify-payment-button__button--unbranded.BUz42FHpSPncCPJ4Pr_f.jjzYeefyWpPZLH9pIgyw.RWJ0IfBjxIhflh4AIrUw {
    border-radius: 50px!important;
}
  .product-page-info__button-add-to-cart.mb-10 button {
    border-radius: 50px!important;
}
  span.price.price--sale>span:nth-child(2) {
    font-weight: 700!important;
}
  .sticky_buttons .mt-20.mb-15 button.shopify-payment-button__button.shopify-payment-button__button--unbranded.BUz42FHpSPncCPJ4Pr_f.jjzYeefyWpPZLH9pIgyw.RWJ0IfBjxIhflh4AIrUw {
    border-radius: 50px!Important;
}
.pi {
    padding: 15px 0 0 0!important;
}
  .pi svg {
    display: none;
}
 
  .pi p:nth-child(3) {
    border-right: 0px;!important
}
  .pi .pi2:nth-child(4) p {
    border: 0px;
}
  .product-page-info__price.new.text-center.text-md-left.mb-25 {
    margin-top: 0!important;
    margin-bottom: 1%!important;
}
.product-page-info__price.text-center.text-md-left.mb-25.new {
    display: flex!important;
    margin-bottom: 10px;
}
  main#MainContent {
    background: #FFFDF8;
}
  .product-page-info form>.product-page-info__price.text-center.text-md-left.mb-25:nth-child(5) {
    display: flex!Important;
  align-items: flex-end;
}
  .product-page .product-options #option-Color label span {
    color:  #2C2C2C;
}
  .product-page .product-options.product-options--type-page.js-product-options #option-Size label>span:nth-child(1) {
    color: #2C2C2C;
}
  .product-page .product-options #option-Color label>span:nth-child(2) {
    font-weight: 100!important;
    font-size: 15px;
}
  .product-page .product-options.product-options--type-page.js-product-options #option-Size label>span:nth-child(2) {
    font-size: 15px;
    font-weight: 100!important;
}
div#option-Color {
    margin-bottom: 20px;
}
  .d-none.d-md-flex.justify-content-end.align-items-center.w-100.mt-20.overflow-hidden {
    display: none!important;
}
  input.mb-0.px-35.text-center {
    background: #fffdf8!important;
}
  button.btn.btn--full.btn--status.js-product-button-add-to-cart {
    background: #fffdf8!important;
}
  .section-content.section-wrap.flash-sale-section-wrap {
    margin: 0!important;
}
  .flash-sale-section-wrap .card {
    background: #fffdf8!important;
    padding: 7%;
}
  .product-page .product-page-info__price.text-center.text-md-left.mb-25 span.price.price--sale .cmp {
    padding-left: 0px;
    font-size: 15px!important;
}
  .product-page button.btn.btn--full.btn--status.js-product-button-add-to-cart span span {
    text-transform: capitalize!important;
}
  .shopify-payment-button button {
    text-transform: capitalize!important;
}
  .pi2 p {
    border-right: 1px solid #929292;
}
  .product-page .product-page-info__price.text-center.text-md-left.mb-25 p.product-page-info__price-sale-details.mt-5.mt-md-10.text-center.text-md-left {
    font-size: 14px!important;
 
}
  .product-gallery__main .product-gallery__blockratio {
  padding-top: 100% !important;
}
  .product-page button.btn.btn--full.btn--status.js-product-button-add-to-cart {
    border: 2px solid #2E2E2E!important;
   
}
  .product-page .input-quantity.input-quantity--type-04.d-flex.align-items-center.position-relative.mr-10.js-product-quantity input {
    border: 2px solid #000000;
  
}
 
  .product-page .pa {
    margin-top: 30px;
}
 .px-1 {
    display: flex!important;
    justify-content: center;
    padding: 10px;
}
 
 
  .product-gallery__thumbnail_slider.h-100.js-slider-tracking.slick-initialized.slick-slider.slick-vertical {
    height: 407px!important;
    overflow: hidden;
}
  .rimage {
   
    height: 77px!important;
}
  .card {
    border: 0px;
    background-color: #F1F6FF;
    box-shadow: 0px 0px 0px rgba(190, 189, 189, 0.25);
    border-radius: 0px;
}
 @media(max-width:784px)
  {
    .product-gallery__main .product-gallery__blockratio {
    padding-top: 0%!important;
}
    .breadcrumb {
    display: none;
}
    .container_np {
    width: 94%!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .product-page .product-page-info__price.text-center.text-md-left.mb-25 span.prs {
    font-size: 22px!important;
}
    .flash-sale-section-wrap {
    margin-left: 5%!important;
    margin-top: 5%!important;
    margin-right: 5%!important;
}
    .product-page-info form>.product-page-info__price.text-center.text-md-left.mb-25:nth-child(5) {
    display: flex!Important;
    flex-wrap: wrap!important;
}
    .product-page .product-options.product-options--type-page.js-product-options #option-Size label>span:nth-child(2) {
    font-size: 12px!important;
    font-weight: 100!important;
}
    .product-page .product-options #option-Color label>span:nth-child(2) {
    font-weight: 100!important;
    font-size: 12px;
}
    div#option-Color {
    margin-bottom: 0px!important;
}
    .product-page .product-page-info__title.mb-15.text-center.text-md-left h1 {
    font-size: 18px;
}
    .product-page .product-page-info__title.mb-15.text-center.text-md-left {
    margin-bottom: 10px!important;
}
    .product-options__section.d-flex.flex-wrap {
    margin-bottom: 3%!important;
}
    .product-options__value.product-options__value--large-text.d-flex.flex-center.border.cursor-pointer {
   
    padding: 8px 20px!important;
}
  
    .upx {
    display: none;
}
    .btm_btn {
    display: none;
}
    .product-gallery__thumbnail_slider.h-100.js-slider-tracking.slick-initialized.slick-slider.slick-vertical {
    height: 450px!important;
    overflow: hidden;
}
  }
</style>
<div class="container-flid_np">
  <div class="container_np">
    <div class="row_np">
      {% include 'bread_crumb' %}
      {% section 'main-product_new_template' %}

{% section 'related-product-section' %}
{% section 'top-rated-product-section' %} 
{% section 'loox' %} 
    </div>
  </div>
</div>
