{%- if section.settings.menu != blank -%}
    <nav class="menu {% if is_main_menu %}menu--main{% else %}menu--secondary{% endif %} js-menu js-position p-relative" >
        <div class="menu__panel{% if header_menu_list_on_a_par %} menu__panel--on-a-par{% endif %} menu__list menu__level-01 d-flex flex-column {% if centered %} justify-content-lg-center{% endif %} position-relative">
            <div class="menu__curtain position-absolute"></div>
            {%- assign menu = linklists[section.settings.menu] -%}
            {%- assign megamenu_index = 0 -%}
            {%- for link in menu.links -%}
                {%- capture childrens -%}
                    {%- assign megamenu = null -%}
                    {%- assign longer_menu = null -%}
                    {%- if menu_html -%}
                        {%- assign links_path = link.handle | prepend: '|||' | append: '|||' -%}
                        {%- if menu_html contains links_path -%}
                            {%- assign content_split_1 = menu_html | split: links_path -%}
                            {%- assign content_split_2 = content_split_1[1] | split: '|||' -%}
                            {%- assign longer_menu = linklists[content_split_2[0]] -%}
                        {%- endif -%}
                    {%- endif -%}
                    {%- if items_with_megamenu contains link.handle -%}
                        {%- for block in section.blocks offset: megamenu_index -%}
                            {%- if block.type =='megamenu' -%}
                                {%- assign for_item_handle = block.settings.for_item | handle -%}
                                {%- if for_item_handle == link.handle -%}
                                    {%- assign megamenu = block.settings -%}
                                    {%- assign megamenu_index = forloop.index | plus: megamenu_index -%}
                                    {%- if longer_menu -%}
                                        {% render 'header-get-menu-megamenu',output_link: longer_menu %}
                                    {%- else -%}
                                        {% render 'header-get-menu-megamenu', output_link: link %}
                                    {%- endif -%}
                                    {%- break -%}
                                {%- endif -%}
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endif -%}
                    {%- if megamenu == null -%}
                        {%- if longer_menu -%}
                            {% render 'burger-get-menu-drop' with output_link: longer_menu label_html: label_html preview_image_html: preview_image_html preview_link_substitution: preview_link_substitution %}
                        {%- else -%}
                            {% render 'burger-get-menu-drop' with output_link: link label_html: label_html preview_image_html: preview_image_html preview_link_substitution: preview_link_substitution %}
                        {%- endif -%}
                    {%- endif -%}
                {% endcapture %}
                <div class="menu__item {% if link.levels > 0 %}menu__item--has-children{% endif %}">
                    <a href="{% render 'header-get-menu-link-substitution' with preview_link_substitution : preview_link_substitution default_link: link.url link: link %}" class="d-flex align-items-center{% if section.settings.show_menu_hover_underline %} text-underline-hover{% endif %}">{% render 'header-get-menu-icons' , link: link %}<span>{{ link.title }}</span>{% render 'header-get-menu-labels' with label_html: label_html link: link %}{% if link.levels > 0 or megamenu != null or longer_menu.levels > 0 %} {% if section.settings.show_menu_arrows %}{% endif %}{% if link.levels > 0 or longer_menu.levels > 0 %}<i class="menu__item_arrow  ml-auto">{% render 'icon-theme-231' %}</i>{% endif %}{% endif %}</a>
                    {%- if link.levels > 0 or megamenu != null or longer_menu.levels > 0 -%}
                        {{ childrens }}
                    {%- endif -%}
                </div>
            {%- endfor -%}
        </div>
    </nav>
{%- endif -%}

<script>
 jQuery(function($) {
    
	var path = window.location.href; 
	 
     $('.menu__item a').each(function() {
     console.log(this.href)
	 if (this.href === path) {
      
	  $(this).addClass('active');
      
	  }
    
	});
});
  $('.menu__dropdown .menu__item a').each((ind,el)=>{
    $(el).on('click',()=>{
      let url = $(el).attr('href');
      window.location.href = url;
    })
  })
</script>