<div class="product-card card-placeholder">
    <div class="placeholder-image">
        {{ 'product-1' | placeholder_svg_tag  : 'card-placeholder' }}
    </div>
    <div class="info-placeholder">
        <p  class="card-title">Product title</>
        <div class="card-price">
          <p>{{ 10100 | money }}</p>
        </div>
    </div>
</div>