<div class="pd">
  <h2>Description</h2>
  <p>Saral Home is known for workmanship in making quality carpeting. Offer wide range of products and designs to choose from for your home / commercial décors. Bringing convenient products that are easy to you use designed with care is the key area of focus.</p>
  <div class="pd2">
    <div><img src="https://cdn.shopify.com/s/files/1/0256/3683/1318/files/image_47.jpg?v=1663050757"></div>
    <div><h4>Microfiber</h4>
    <p>Microfiber is a polyester and nylon (polyamide) fiber that is used to make the surface fabric. This material adds super soft feel and comfort.</p></div>
  </div>
    <div class="pd2">
    <div><img src="https://cdn.shopify.com/s/files/1/0256/3683/1318/files/image_47-1.jpg?v=1663050756"></div>
    <div><h4>Performance</h4>
    <p>Overall, the product gives a great experience and does its job exceptionally well. It offers more benefits than the regular cotton mats.</p></div>
  </div>
    <div class="pd2">
    <div><img src="https://cdn.shopify.com/s/files/1/0256/3683/1318/files/image_47-2.jpg?v=1663050757"></div>
    <div><h4>Super Absorbent</h4>
    <p>It can absorb water seven times its weight and during the manufacturing process, the fibers are split many times which makes them incredibly effective at picking up and trapping water.</p></div>
    </div>
    <div class="pd2">
    <div><img src="https://cdn.shopify.com/s/files/1/0256/3683/1318/files/image_47-3.jpg?v=1663050757"></div>
    <div><h4>Quick Dry</h4>
    <p>Rather than holding water all day, microfiber bath mats dry sooner. Microfiber has been shown to dry 5 times faster than cotton. This also reduces the occurrence of mold and mildew, as well as makes the mat more comfortable for other people.</p></div>
  </div>
</div>
<div class="pd4">
  <img src="https://cdn.shopify.com/s/files/1/0256/3683/1318/files/image_83.jpg?v=1663051365">
  <h4>Easy Care</h4>
  <p>The mat can be washed in normal water. It is machine safe and can be used in normal cycle. The fiber yarn will not lose color and will become softer in further washes.</p>
  <div class="pd3">
    <p>Measurement</p>
    <p>Available in 180 X 270cm, 120 X 180cm, 150 X 210cm</p>
  </div>
  <div class="pd3">
    <p>Material</p>
    <p>100% wool</p>
  </div>
  <div class="pd3">
    <p>Colour</p>
    <p>Available in blue & beige</p>
  </div>
</div>